<h1 class="description">A bit about Me!</h1>
<div class="abtmeDesc"><h3 class="description">
    The first time I wrote proper code was when I was 21 years old, fresh from college on .Net platform. I was impressed that I could make the computer
    do something that I wanted it to do. Since then, I never stopped writing code. Then came Advanced javascript the powerful way of writing single page applications, Nodejs, etc. and the fun began.
    Usually I am working on a side project.
    My skills revolve around web development and mobile app development. I also love contributing to the open source software.
    I like reading, and urban exploring. But sometimes it's best to relax with a movie or a good TV show, with lemonade
    in front of me. When I have a lot of free time, I'd' like to explore the world! Though I have not visited numerous places, I would like to one day live
    in several countries, encounter many cultures, and see amazing sights. I like writing javascript code and these days I'm writing a lot of node, Angular & React. I am very proud of nothing yet!
</h3>
<div>