.emailAuth {
  button {
    background-color: #bf1c1ce0;
    display: inline-block;
    width: 40%;
    margin: 10px 4.6%;
  }
  input {
    width: 92%;
  }
}

button {
  width: 100%;
  display: block;
  font-size: 15px;
  margin: 0;
  background-color: brown;
}
